
olsrd-0.6.0/.vs/olsrd-0.6.0/v16/.suo
olsrd-0.6.0/.vs/olsrd-0.6.0/v16/Browse.VC.db
olsrd-0.6.0/.vs/ProjectSettings.json
olsrd-0.6.0/.vs/slnx.sqlite
olsrd-0.6.0/.vs/VSWorkspaceState.json
olsrd-0.6.0/gui/win32/.vs/Switch/v16/.suo
olsrd-0.6.0/gui/win32/.vs/Switch/v16/Browse.VC.db
olsrd-0.6.0/gui/win32/Backup/Switch.sln
olsrd-0.6.0/gui/win32/Debug/Shim.exe
olsrd-0.6.0/gui/win32/Debug/Shim.ilk
olsrd-0.6.0/gui/win32/Debug/Shim.pdb
olsrd-0.6.0/gui/win32/Main/Main.vcxproj
olsrd-0.6.0/gui/win32/Main/Main.vcxproj.filters
olsrd-0.6.0/gui/win32/Main/Main.vcxproj.user
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.log
olsrd-0.6.0/gui/win32/Shim/Debug/shim.obj
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/CL.command.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/CL.read.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/CL.write.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/link.command.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/link.read.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/link.write.1.tlog
olsrd-0.6.0/gui/win32/Shim/Debug/Shim.tlog/Shim.lastbuildstate
olsrd-0.6.0/gui/win32/Shim/Debug/vc142.idb
olsrd-0.6.0/gui/win32/Shim/Debug/vc142.pdb
olsrd-0.6.0/gui/win32/Shim/Shim.vcxproj
olsrd-0.6.0/gui/win32/Shim/Shim.vcxproj.filters
olsrd-0.6.0/gui/win32/Shim/Shim.vcxproj.user
olsrd-0.6.0/gui/win32/Switch.sln
olsrd-0.6.0/gui/win32/UpgradeLog.htm
olsrd-0.6.0/lib/bmf/src/.vscode/c_cpp_properties.json
olsrd-0.6.0/gui/win32/Switch.sln
olsrd-0.6.0/gui/win32/Switch.sln
olsrd-0.6.0/gui/win32/Switch.sln
